@import 'tailwindcss';

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /* Performance de renderização */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Evita scroll horizontal indesejado no mobile */
  overflow-x: hidden; 
}

body {
    background-color: var(--color-neutral-light);
    color: var(--color-neutral-dark);
}